*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background: #f5a05c;
}

.nav{
    width:100%;
    min-height:3.5rem;
    background:#ffff;
    color:#111;
    padding:15px 0;
    padding-bottom: 5px;
    position: fixed;
    z-index: 999;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}

.nav-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-container .logo{
    font-size: 60px;
    font-weight: 600;
    padding: 0 10px;
}


.nav-container .links{
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.nav-container .links a{
    text-decoration: none;
    color:#111;
    font-size: 30px;
    font-weight: 500;
    padding-right: 30px;

}

.links .search-box{
    min-width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid rgb(219,219,219);
    padding:10px 5px;
}

.links .search-box input{
    border: none;
    flex:1;
    outline: none;
    height: 100%;
    padding-left:5px;
    font-size: 30px;
}
.links .search-box img{
    width:50px;
    height: 100%;
    border-left:1px solid rgb(219,219,219);
    padding-left: 10px;
}
.main-container{
    height: 100%;
    width: 100%;
   
    position: relative;
    
}

.bg-content{
    position: absolute;
    left:50%;
    top:0;
    width: 50%;
    height: 100vh;
    background-image: url('/images/bg-shape.svg') ;
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: 10; 
}

.menu{
    display: none;
    cursor: pointer;
}

.content{
    position: absolute;
    width: 100%;
    height: 100%;
   
}

.content .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex:1 1;
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
    
}

.details{
    display: inline-block;
    max-width: 40rem;
    min-height: 15rem;
}

.details h1{
    font-size: 75px;
}
.details p{
    font-size: 25px;
    color:rgba(17, 17, 17, 0.868);
}
.btn-profile{
    display: inline-block;
    max-width:250px ;
    min-height: 3rem;
    margin-top:15px;
    padding:10px 30px;
    text-decoration: none;
    color:#fff;
    background: rgba(2, 119, 103, 0.843);
    border-radius: 15px;
    font-size: 30px;
}

.btn-profile:hover
{
    background: rgba(2, 119, 103, 1);
}


.photo-user{
    max-width: 35rem;
    min-height:35rem;
    margin-top: 2rem;
}
.imgphoto {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.rotatbg{
    display: inline-block;
    position: absolute;
    left:31px;
    top:22px;
    width: 80%;
    height: 80%;
    background: rgba(2, 119, 103, 0.943);
    rotate: -5deg;
    z-index: 10;
}



.imgphoto img{
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.imgphoto img:hover{
    rotate: -5deg;
    
}


.footer{
    position: absolute;
    width: 100%;
    max-height: 15rem;
    
    
    bottom:5rem;
}

.footer .container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:30px;
    padding:30px 25px 30px;
}

@media screen and (max-width:1502px) {
    .container{
        max-width: 1200px;
        
    }
}


@media screen and (max-width:1200px) {
    .container{
        max-width: 1100px;
        padding:0 10px;
    }
    
.details h1{
    font-size: 40px;
}
.details p{
    font-size: 20px;
  
}
}
@media screen and (max-width:950px) {
    .container{
        max-width:900px ;
    }
}

@media screen and (max-width:780px) {
    .container{
        max-width: 600px;
    }
   
    .content .container{
        display: block;
    }
    .nav-container .links{
        display:none;
    }
    .menu{
        display: block;
    }

    .details h1{
        font-size: 80px;
    }
    .details p{
        font-size: 35px;
    }
    .btn-profile{
        max-width:20rem ;
        min-height: 3rem;
        margin-top:15px;
        padding:20px 25px;
    
    }

    .menu-toggle{
        position: absolute;
        
        width: 100%;
        height: 100%;
        top:0;
        
        background: rgba(17, 17, 17, 1);
        color:#fff;
        display: none;
       
    }

    .menu-toggle.active{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 999;
    }
    .close-icon{
        position: absolute;
        top:5px;
        right:15px;
        background-color: #fff;
        cursor: pointer;
    }
    .menu-toggle  a{
        text-decoration: none;
        color:#fff;
        font-size: 50px;
        padding:25px;
    }
    .menu-toggle .search-box{
        display: flex;
        align-items: center;
        min-height: 3.5rem;
        max-width:28rem ;
        background: #fff;
        padding:20px;
    }

    .menu-toggle .search-box input{
       flex:1;
       height: 100%;
       border: none;
       outline: none;
       margin-left:5px;
       font-size: 25px;
    }
    
    .menu-toggle .search-box img{
        color: #fff;
        min-width:3rem ;    
    }
    

.photo-user{
  
    max-height:11rem;
    min-height: none;
    max-width: 32rem;
}

.footer{
    max-height: 6rem;
    bottom:3rem;
}
}


@media screen and (max-width:450px) {
    .container{
        max-width: 500px;
    }



.search-box{
    max-width: 100px;
    min-width: none;
}



}